@import '../../../assets/styles/variables.less';

.header {
    color: @dark-background;
    padding: 5px 80px;
    .logo {
        font-size: 45px;
    }
    .open-sidebar {
        border: 1px solid @dark-background;
    }
    .logout-icon {
        font-size: 35px;
        padding-top: 5px;
    }
    .user-login {
        font-size: 24px;
    }
}

.drawer-container {
    .drawer {
        width: 250px;
    }
    .drawer-content {
        padding: 50px;
    }
}