<div class="card-container">
    <div class="shadow card-content">
        <div class="row">
            <div class="col">
                <p class="name">{{ song.name }}</p>
                <p class="author">{{ song.author }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="creator">Created by user: {{ song.creator }}</p>
            </div>
        </div>
    </div>
    <div class="icon-container shadow">
        <mat-icon>music_note</mat-icon>
    </div>
</div>
